<%= form_for @content, :html => {:multipart => true} do |f| %>
  <div>
    <%= image_tag @content.background_image.url %>
    <%= f.label :background_image %>
    <%= f.file_field :background_image %>
  </div>

  <div><%= f.text_field :header, placeholder: "Header" %></div>
  <div><%= f.text_area :description, placeholder: "Description", size: "20x10" %></div>
  <div>
    <%= f.text_field :button_title, placeholder: "Button Title" %>
  </div>

  <%= f.submit "Save" %>
<% end %>
