<% provide( :title, "About Me - Edit" ) %>


<%= form_for @content, :html => {:multipart => true} do |f| %>
  <div slide_edit>
    <p>
      <%= label_tag :header %>
      <%= f.text_field :header, placeholder: "Header", 
        id: "header_form" %>
    </p>
    <p>
      <%= label_tag :description %>
      <%= f.text_area :description, placeholder: "Description", 
        id: "description_form", size: "20x10" %>
    </p>
    <p>
      <%= label_tag :button_title %>
      <%= f.text_field :button_title, placeholder: "Button Title", id:
        "button_title_form" %>
    </p>
    <p>
      <%= f.label :background_image %>
      <%= f.file_field :background_image, id: "background_image_upload" %>
    </p>
  </div>
<%= f.submit "Save" %>
<% end %>

<div class="slide_preview">
  <%= render "slides" %>
</div>
