<% provide( :title, "Navbar - Edit" ) %>

<div id="save_reminder"></div>

<%= form_for @navItem do |f| %>
  <%= f.text_field :link_1_name, placeholder: "1st Navbar Link", id: "nav_1_edit" %>
  <%= f.text_field :link_2_name, placeholder: "2nd Navbar Link", id: "nav_2_edit"  %>
  <%= f.text_field :link_3_name, placeholder: "3rd Navbar Link", id: "nav_3_edit"  %>
  <%= f.text_field :link_4_name, placeholder: "4th Navbar Link", id: "nav_4_edit"  %>
  <%= f.text_field :link_5_name, placeholder: "5th Navbar Link", id: "nav_5_edit"  %>

  <div class="save_button">
    <%= f.submit "Save", class: "btn save" %>
  </div>
<% end %>
