<%= form_for @content do |f| %>
  <div class="save_button">
    <%= f.submit "Save", class: "btn save", id: "save_button_top" %>
  </div>
  <div class="save_button">
    <%= f.submit "Save", class: "btn save", id: "save_button_bottom" %>
  </div>

  <div class="lightbox_bottom">
    <div class="content_header"> 
        <%= f.text_field :header, cols: 25, :maxlength => header_limit %>
    </div>

    <div class="content_description">
      <%= f.text_area :description, cols: 80, rows: 3, :maxlength => description_limit %>
    </div>
  </div>
<% end %>
