<%= form_for @content do |f| %>
  <%= f.submit "Save", class: "btn save", id: "save_button_top" %>
  <%= f.submit "Save", class: "btn save", id: "save_button_bottom" %>

  <div class="lightbox_bottom">
    <div class="content_header"> 
        <%= f.text_field :header, cols: 25, rows: 2 %>
    </div>

    <div class="content_description">
      <%= f.text_area :description, cols: 80, rows: 3 %>
    </div>
  </div>
<% end %>
