<div class="content_detail content_<%= content.id %>">
  <button class="close">
    <%= image_tag "close_button.png", size: "48" %> 
  </button>

  <div class="lightbox_main">
    <%= render "shared/embedded_video", :content => content %>

    <% if user_signed_in? %>
      <div class="lightbox_edit_link">
        <% if content.class.table_name == "works" %>
          <%= link_to "Edit Item", edit_work_path(content) %>
        <% else %>
          <%= link_to "Edit Item", edit_current_project_path(content) %>
        <% end %>
      </div>
    <% end %>
  </div>


  <% if local_assigns.has_key? :edit_page %>
    <% if edit_page == true %>
      <%= form_for @content do |f| %>
        <div class="lightbox_bottom">
          <div class="content_header"> 
              <%= f.text_field :header, cols: 25, rows: 2 %>
          </div>

          <div class="content_description">
            <%= f.text_area :description, cols: 80, rows: 3 %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="lightbox_bottom">
      <div class="content_header"> 
          <%= content.header %>
      </div>

      <div class="content_description">
          <%= content.description %>
      </div>
    </div>
  <% end %>
</div>
