<div class="content_detail content_<%= content.id %>">
  <button class="close">
    <%= image_tag "close_button.png", size: "48" %> 
  </button>

  <div class="lightbox_main">
    <%= render "shared/embedded_video", :content => content %>

    <% if user_signed_in? %>
      <div class="lightbox_edit_link">
        <%= link_to "Edit Item", edit_work_path(content) %>
      </div>
    <% end %>

  </div>

  <div class="lightbox_bottom">
    <div class="content_header"> 
      <%= content.header %>
    </div>

    <div class="content_description">
      <%= content.description %>
    </div>
  </div>
</div>
