<div class="content_detail content_<%= content.id %>">
  <button class="close">
    <%= image_tag "close_button.png", size: "48" %> 
  </button>

  <div class="lightbox_main">
    <%= render "shared/embedded_video", :content => content %>

    <% if user_signed_in? %>
      <div class="lightbox_edit_link">
        <% if content.class.table_name == "works" %>
          <%= link_to "Edit Item", edit_work_path(content) %>
        <% else %>
          <%= link_to "Edit Item", edit_current_project_path(content) %>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class="lightbox_bottom">
    <div class="content_header"> 
      <%= content.header %>
    </div>

    <div class="content_description">
      <%= content.description %>
    </div>
  </div>
</div>
