<% content_for :head do %>
  <%= javascript_include_tag "media_choice" %>
<% end %>

<!-- Header -->
<div>
<% if local_assigns.has_key? :header_limit %>
  <%= f.label :header, "Header (#{header_limit} chars max)" %>
  <%= f.text_field :header, :maxlength => header_limit %>
<% else %>
  <%= f.label :header %>
  <%= f.text_field :header %>
<% end %>
</div>

<!-- Description -->
<div>
<% if local_assigns.has_key? :description_limit %>
  <%= f.label :description, "Description (#{description_limit} chars max)" %>
  <%= f.text_area :description, :maxlength => description_limit %>
<% else %>
  <%= f.label :description %>
  <%= f.text_area :description %>
<% end %>
</div>

<!-- Media (the picture or video that appears with the content) -->
<div>
<%= f.radio_button :media_choice, "link", id: 'media_choice_radio_link' %>
<%= f.label :media_choice_link, "Use Hosted Link" %>
<%= f.label :media_link %>
<%= f.text_field :media_link , id: "media_link_input" %>
</div>

<div>
<%= f.radio_button :media_choice, "upload", id: 'media_choice_radio_upload' %>
<%= f.label :media_choice_upload, "Use File Upload" %>
<%= f.label :media_image %>
<%= f.file_field :media_image, id: "media_image_upload" %>
</div>
