<div class="gridster <%= "edit_grid" if request.path =~ /.+edit/ %>">
  <ul>
  <% for content in @contents  %>
    <li class="grid_tile <%= "highlighted" if content == @content %>" 
    id="tile_<%= content.id %>"
    data-row="<%= content.grid_row %>" 
    data-col="<%= content.grid_column %>" 
    data-sizex="<%= content.grid_sizex %>" 
    data-sizey="<%= content.grid_sizey %>" 
    style="<%= get_tile_image_css active_record_object, content.id %>"></li>
    <%= render "shared/content_lightbox", :content => content %>
  <% end %>
  </ul>
</div>
