<% if !local_assigns.has_key? :display_mini %>
  <% display_mini = false %>
<% end %>

<% for content in @contents  %>
  <li class="grid_tile grid_tile_<%= content.id %> <%= "highlighted" if content == @content %>" 
  data-row="<%= content.grid_row %>" 
  data-col="<%= content.grid_column %>" 
  data-sizex="<%= content.grid_sizex %>" 
  data-sizey="<%= content.grid_sizey %>">
  <%= image_tag content.grid_tile_image.url(:small), class: "expand_tile", id: "tile_#{content.id}" %>

  <a href=# class="edit_tools">
    <%= image_tag "glyphicon_button_delete.png", 
                   size: "20x20", 
                   id: "tile_delete_#{content.id}",
                   class: "tile_delete" %>
  </a>
  </li>
  <%= (render "shared/content_lightbox", :content => content) if !display_mini %>
<% end %>
