<% if !local_assigns.has_key? :display_mini %>
  <% display_mini = false %>
<% end %>

<% for content in @contents  %>
  <li class="grid_tile grid_tile_<%= content.id %> <%= "highlighted" if content == @content %>" 
  data-row="<%= content.grid_row %>" 
  data-col="<%= content.grid_column %>" 
  data-sizex="<%= content.grid_sizex %>" 
  data-sizey="<%= content.grid_sizey %>">
  <img src="<%= content.grid_tile_image %>" <%= "class=\"expand_tile\"" if !display_mini %> id="tile_<%= content.id %>" />

    <% if !display_mini %>
    <a href=# class="edit_tools">
      <%= image_tag "glyphicon_button_delete.png", 
                     size: "20x20", 
                     id: "tile_delete_#{content.id}",
                     class: "tile_delete" %>
    </a>
    <% end %>
  </li>
  <%= (render "shared/content_lightbox", :content => content) if !display_mini %>
<% end %>
