<% provide( :title, "Contact" ) %>

<% if user_signed_in? %>
  <%= link_to 'Edit Contact Info', edit_contact_path(@contact_info), class: "edit_content" %>
<% end %>

<%= render "contact_content" %>

<div class="mail_form">
  <%= form_tag(send_mail_path) do %>
    <%= text_field_tag ':email', nil, placeholder: "Your email address" %>
    <%= text_area ':body', nil, placeholder: "Your message" %>

    <%= submit_tag "Submit" %>
  <% end %>
</div>
