<% if request.path =~ /\/admin\// %>
  <div id="border">
<% else %>
  <div id="envelope">
<% end %>
    <div id="titlebar"></div>

    <% nav = NavItem.first %>

    <ul class="navbar">
      <li><%= link_to nav.link_1_name, 
        {
          :controller => 
            request.path =~ /\/admin\// ? 'admin' : 'guest', 
          :action => 'about_me'
        }, 
        { :class => ('selected' if request.path =~ /about_me/) } 
        %>
      </li>
      <li><%= link_to nav.link_2_name, 
        {
          :controller => 
            request.path =~ /\/admin\// ? 'admin' : 'guest', 
          :action => 'showreel'
        }, 
        { :class => ('selected' if request.path =~ /showreel/) } 
        %>
      </li>
      <li><%= link_to nav.link_3_name, 
        {
          :controller => 
            request.path =~ /\/admin\// ? 'admin' : 'guest', 
          :action => 'works'
        }, 
        { :class => ('selected' if request.path =~ /works/) } 
        %>
      </li>
      <li><%= link_to nav.link_4_name, 
        {
          :controller => 
            request.path =~ /\/admin\// ? 'admin' : 'guest', 
          :action => 'current_projects'
        }, 
        { :class => ('selected' if request.path =~ /current_projects/) } 
        %>
      </li>
      <li><%= link_to nav.link_5_name, 
        {
          :controller => 
            request.path =~ /\/admin\// ? 'admin' : 'guest', 
          :action => 'contact'
        }, 
        { :class => ('selected' if request.path =~ /contact/) } 
        %>
      </li>
    </ul>

    <div class="edit-link">
      <% if user_signed_in? %>
        <%= link_to 'Edit Navigation Bar', edit_nav_item_path(1) %>
      <% end %>
    </div>
