  <div id="titlebar">
    <%= link_to image_tag("Andrada_Popan_Dorca_titlebar.png"), root_path %>
  </div>

  <% nav = NavItem.first %>

  <ul class="navbar">
    <li id="nav_item_1"><%= link_to nav.link_1_name, 
      {
        :controller => 'about_me_contents',
        :action => 'index'
      }, 
      { :class => ('selected' if request.path =~ /about_me_contents#index/ || request.path == "/") } 
      %>
    </li>
    <li id="nav_item_2"><%= link_to nav.link_2_name, 
      {
        :controller => 'showreel',
        :action => 'show'
      }, 
      { :class => ('selected' if request.path =~ /showreel/) } 
      %>
    </li>
    <li id="nav_item_3"><%= link_to nav.link_3_name, 
      {
        :controller => 
          request.path =~ /\/admin\// ? 'admin' : 'guest', 
        :action => 'works'
      }, 
      { :class => ('selected' if request.path =~ /works/) } 
      %>
    </li>
    <li id="nav_item_4"><%= link_to nav.link_4_name, 
      {
        :controller => 
          request.path =~ /\/admin\// ? 'admin' : 'guest', 
        :action => 'current_projects'
      }, 
      { :class => ('selected' if request.path =~ /current_projects/) } 
      %>
    </li>
    <li id="nav_item_5"><%= link_to nav.link_5_name, 
      {
        :controller => 
          request.path =~ /\/admin\// ? 'admin' : 'guest', 
        :action => 'contact'
      }, 
      { :class => ('selected' if request.path =~ /contact/) } 
      %>
    </li>
  </ul>
  <% if user_signed_in? %>
    <div class="edit_navbar">
      <%= link_to 'Edit Navigation Bar', edit_nav_item_path(1) %>
    </div>
  <% end %>
