<% if request.path =~ /\/admin\// %>
  <div id="border">
<% else %>
  <div id="envelope">
<% end %>
    <div id="titlebar"></div>

    <ul class="navbar">
      <li><%= link_to 'About Me', 
        {
          :controller => 
            request.path =~ /\/admin\// ? 'admin' : 'guest', 
          :action => 'about_me'
        }, 
        { :class => ('selected' if request.path =~ /about_me/) } 
        %>
      </li>
      <li><%= link_to 'Showreel', 
        {
          :controller => 
            request.path =~ /\/admin\// ? 'admin' : 'guest', 
          :action => 'showreel'
        }, 
        { :class => ('selected' if request.path =~ /showreel/) } 
        %>
      </li>
      <li><%= link_to 'Works', 
        {
          :controller => 
            request.path =~ /\/admin\// ? 'admin' : 'guest', 
          :action => 'works'
        }, 
        { :class => ('selected' if request.path =~ /works/) } 
        %>
      </li>
      <li><%= link_to 'Current Projects', 
        {
          :controller => 
            request.path =~ /\/admin\// ? 'admin' : 'guest', 
          :action => 'current_projects'
        }, 
        { :class => ('selected' if request.path =~ /current_projects/) } 
        %>
      </li>
      <li><%= link_to 'Contact', 
        {
          :controller => 
            request.path =~ /\/admin\// ? 'admin' : 'guest', 
          :action => 'contact'
        }, 
        { :class => ('selected' if request.path =~ /contact/) } 
        %>
      </li>
    </ul>
  </div>
