<!DOCTYPE html>
<html>
<head>
  <title>
    <% if request.path =~ /\/admin\// %>
      Control Panel
    <% else %>
      <%= yield(:page_title) %>
    <% end %>
  </title>
    <%= stylesheet_link_tag    "application", 
      media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", 
      "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>

<body>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if request.path =~ /\/admin\// %>
    <h1>Control Panel - Edit the <span class="emphasis">'<%=
      yield(:page_title) %>'</span> page</h1> 
  <% end %>

    <%= render 'header' %>
    <%= yield %>
  </div>
</div>
</body>
</html>
